.box{
	width:425px;
	height:550px;
}
.red {
	width:100%;
	height:10%;
	background-color:#FF0000;
	color:#FF0000;
}

.yellow1 {
	width:15%;
	height:90%;
	background-color:#FFFF00;
	color:#FFFF00;
	float:left;
}

.yellow2 {
    width:15%;
    height:90%;
    background-color:#FFFF00;
	color:#FFFF00;
	float:right;
}

.blue {
	width:70%;
	height:85%;
	background-color:#0000FF;
	color:#0000FF;
	margin:auto;
}

.green {
	width:70%;
	height:5%;
	background-color:#008100;
	color:#008100;
	margin:auto;
}